h1{
    color: rgb(58, 56, 56);
}
body{
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 400pt;
    }

input{
    margin: 5px;
    height: 30px;
}
label{
    font-size: 20px;
}
input[type="submit"]{
    width: 200pt;
    align-self: center;
    background-color: darkgrey;
}

table, th, td{
    border: 2px solid rgb(58, 56, 56) ;
    padding: 5px;
    border-collapse: collapse;
    
    
}